Repository pennylane-hq/cfonb: changes, and which pre-commit hooks are due for each by the changed paths.
All: do_not_commit, rubocop, ruboclean, ruby, prettier-json, prettier-yaml, prettier-mdx, whitespaces, license_checks

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude: (?x)(
          \.yarn/|
          spec/files/)

  - repo: https://github.com/tdeo/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: end-of-file-fixer
        exclude: spec/files/
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.8.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: do_not_commit
        name: Break on DO NOT COMMIT comment
        language: pygrep
        entry: (?i)(NOT.{,3}COMMIT)
        exclude: (?x)(
          .pre-commit-config.yaml|
          README.md)
      - id: rubocop
        name: Rubocop
        language: system
        entry: bash -c 'bundle exec rubocop ${RUBOCOP_OPTIONS:---autocorrect} "$@"' --
        require_serial: true # for proper cache behavior
        files: (?x)(
          \.(rb|rake|jbuilder|gemspec)$|
          Gemfile$|
          Rakefile|
          .irbrc$)
        args:
          - --color
          - --server
          - --config=.rubocop.yml
          - --fail-level=convention
      - id: ruboclean
        name: Ruboclean
        language: system
        entry: bundle exec ruboclean
        files: ^\.rubocop.*\.yml$
        args:
          - --silent
          - --preserve-comments
      - id: ruby
        name: Valid ruby syntax
        language: system
        entry: ruby -c
        files: \.rb$
        exclude: lib/templates/rspec/
      - id: prettier-json
        name: Prettier JSON
        language: system
        entry: npx prettier --parser json --write
        files: \.json$
      - id: prettier-yaml
        name: Prettier YAML
        language: system
        entry: npx prettier --parser yaml --write
        files: \.ya?ml$
        exclude: ^\.rubocop\.yml
      - id: prettier-mdx
        name: Prettier MDX
        language: system
        entry: npx prettier --parser mdx --write
        files: \.mdx?$
      - id: whitespaces
        name: No non-breaking spaces
        language: pygrep
        entry: \\u00A0 # Non-breaking space
        exclude: (?x)^(
          \.yarn/releases/|
          \.pre-commit-config\.yaml)
      - id: license_checks
        name: License checks
        language: system
        entry: .pre-commit/check_license.sh
        files: ^doc/dependency_decisions\.yml$
        pass_filenames: false

disable some error prone rubocop suggestions + some adjustments
  .gitignore
  .ruby-version
  .tool-versions
  cfonb.gemspec
  lib/cfonb/line_parser/base.rb
  lib/cfonb/line_parser/operation.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

[BANKING] Extract codes to a dedicated detail within operation
  README.md
  lib/cfonb/details.rb
  lib/cfonb/operation.rb
  lib/cfonb/operation_details.rb
  lib/cfonb/operation_details/base.rb
  lib/cfonb/operation_details/fee.rb
  lib/cfonb/operation_details/ibe.rb
  lib/cfonb/operation_details/ipy.rb
  lib/cfonb/operation_details/lc2.rb
  lib/cfonb/operation_details/lcc.rb
  lib/cfonb/operation_details/lcs.rb
  lib/cfonb/operation_details/lib.rb
  lib/cfonb/operation_details/mmo.rb
  lib/cfonb/operation_details/nbe.rb
  lib/cfonb/operation_details/nbu.rb
  lib/cfonb/operation_details/npo.rb
  lib/cfonb/operation_details/npy.rb
  lib/cfonb/operation_details/rcn.rb
  lib/cfonb/operation_details/ref.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Fix README formatting
  README.md
Due: prettier-mdx, whitespaces

Clean-up
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Add accessing to details explanation in README
  README.md
Due: prettier-mdx, whitespaces

Add IPY operation detail (#22)
  .gitignore
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  cfonb.gemspec
  lib/cfonb.rb
  lib/cfonb/line_parser/base.rb
  lib/cfonb/line_parser/operation.rb
  lib/cfonb/operation_detail/ipy.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Add a Base class to all OperationDetails classes to automate the detail_code value setting
  README.md
  lib/cfonb.rb
  lib/cfonb/line_parser/operation_details.rb
  lib/cfonb/operation.rb
  lib/cfonb/operation_details.rb
  lib/cfonb/operation_details/base.rb
  lib/cfonb/operation_details/fee.rb
  lib/cfonb/operation_details/ibe.rb
  lib/cfonb/operation_details/ipy.rb
  lib/cfonb/operation_details/lc2.rb
  lib/cfonb/operation_details/lcc.rb
  lib/cfonb/operation_details/lcs.rb
  lib/cfonb/operation_details/lib.rb
  lib/cfonb/operation_details/mmo.rb
  lib/cfonb/operation_details/nbe.rb
  lib/cfonb/operation_details/nbu.rb
  lib/cfonb/operation_details/npo.rb
  lib/cfonb/operation_details/npy.rb
  lib/cfonb/operation_details/rcn.rb
  lib/cfonb/operation_details/ref.rb
  spec/cfonb/line_parser/operation_details_spec.rb
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Add a `Base` class to all `OperationDetails` classes to automate the `detail_code` value setting (#24)
  README.md
  lib/cfonb.rb
  lib/cfonb/line_parser/operation_details.rb
  lib/cfonb/operation.rb
  lib/cfonb/operation_details.rb
  lib/cfonb/operation_details/base.rb
  lib/cfonb/operation_details/fee.rb
  lib/cfonb/operation_details/ibe.rb
  lib/cfonb/operation_details/ipy.rb
  lib/cfonb/operation_details/lc2.rb
  lib/cfonb/operation_details/lcc.rb
  lib/cfonb/operation_details/lcs.rb
  lib/cfonb/operation_details/lib.rb
  lib/cfonb/operation_details/mmo.rb
  lib/cfonb/operation_details/nbe.rb
  lib/cfonb/operation_details/nbu.rb
  lib/cfonb/operation_details/npo.rb
  lib/cfonb/operation_details/npy.rb
  lib/cfonb/operation_details/rcn.rb
  lib/cfonb/operation_details/ref.rb
  spec/cfonb/line_parser/operation_details_spec.rb
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Add IPY operation detail
  Gemfile.lock
  README.md
Due: do_not_commit, prettier-mdx, whitespaces

Add granularity to Operation details
  Gemfile.lock
  cfonb.gemspec
  lib/cfonb/operation_details/lc2.rb
  lib/cfonb/operation_details/lcc.rb
  lib/cfonb/operation_details/lcs.rb
  lib/cfonb/operation_details/lib.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Fix missing versioning specification
  cfonb.gemspec
Due: do_not_commit, rubocop, whitespaces

Create a .gitignore file and remove corresponding files from the cache
  Gemfile.lock
Due: do_not_commit, whitespaces

Separate details reference
  README.md
  cfonb.gemspec
  lib/cfonb/details.rb
  lib/cfonb/operation.rb
  lib/cfonb/operation_details/rcn.rb
  lib/cfonb/operation_details/ref.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Remove unnecessary require
  lib/cfonb.rb
  lib/cfonb/operation_details.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Remove empty class
  lib/cfonb.rb
  lib/cfonb/details.rb
  lib/cfonb/operation.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Change details definition to dynamic
  lib/cfonb/operation.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Update README
  README.md
Due: prettier-mdx, whitespaces

Lg/breaking changes (#25)
  README.md
  cfonb.gemspec
  lib/cfonb/operation.rb
  lib/cfonb/operation_details.rb
  lib/cfonb/operation_details/base.rb
  lib/cfonb/operation_details/fee.rb
  lib/cfonb/operation_details/ibe.rb
  lib/cfonb/operation_details/ipy.rb
  lib/cfonb/operation_details/lc2.rb
  lib/cfonb/operation_details/lcc.rb
  lib/cfonb/operation_details/lcs.rb
  lib/cfonb/operation_details/lib.rb
  lib/cfonb/operation_details/mmo.rb
  lib/cfonb/operation_details/nbe.rb
  lib/cfonb/operation_details/nbu.rb
  lib/cfonb/operation_details/npo.rb
  lib/cfonb/operation_details/npy.rb
  lib/cfonb/operation_details/rcn.rb
  lib/cfonb/operation_details/ref.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Avoid operation details instance variable override in case of duplicate attributes
  lib/cfonb/operation_details/base.rb
  spec/cfonb/parser_spec.rb
  spec/files/example.txt
Due: do_not_commit, rubocop, ruby, whitespaces

Return unmapped operation_details in "details.unknown" object
  README.md
  cfonb.gemspec
  lib/cfonb.rb
  lib/cfonb/operation_details.rb
  lib/cfonb/operation_details/unknown.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
  spec/files/example.txt
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Add safe operator
  lib/cfonb/operation_details/ibe.rb
  lib/cfonb/operation_details/ipy.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Update version
  cfonb.gemspec
Due: do_not_commit, rubocop, whitespaces

Add safe operator (#27)
  cfonb.gemspec
  lib/cfonb/operation_details/ibe.rb
  lib/cfonb/operation_details/ipy.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Update to correct version
  cfonb.gemspec
Due: do_not_commit, rubocop, whitespaces

Update readme
  README.md
Due: prettier-mdx, whitespaces

Fix readme format
  README.md
Due: prettier-mdx, whitespaces

Return unknown operation_details in parser (#26)
  README.md
  cfonb.gemspec
  lib/cfonb.rb
  lib/cfonb/operation_details.rb
  lib/cfonb/operation_details/base.rb
  lib/cfonb/operation_details/unknown.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
  spec/files/example.txt
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Add check to not add detail_code when empty, and replace spaces by unhderscores
  lib/cfonb/operation_details.rb
  lib/cfonb/operation_details/base.rb
  lib/cfonb/operation_details/unknown.rb
  spec/cfonb/parser_spec.rb
  spec/files/example.txt
Due: do_not_commit, rubocop, ruby, whitespaces

Upgrade version
  cfonb.gemspec
Due: do_not_commit, rubocop, whitespaces

Add empty case in operation_spec.rb
  spec/cfonb/operation_spec.rb
Due: do_not_commit, rubocop, ruby, whitespaces

Lg/fix failure when parsing empty details (#28)
  cfonb.gemspec
  lib/cfonb/operation_details.rb
  lib/cfonb/operation_details/base.rb
  lib/cfonb/operation_details/unknown.rb
  spec/cfonb/operation_spec.rb
  spec/cfonb/parser_spec.rb
  spec/files/example.txt
Due: do_not_commit, rubocop, ruby, whitespaces

Update unkown details to not add an instance variable
  README.md
  cfonb.gemspec
  lib/cfonb/operation_details/unknown.rb
  spec/cfonb/parser_spec.rb
  spec/files/example.txt
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces

Update unkown details to not add an instance variable (#29)
  README.md
  cfonb.gemspec
  lib/cfonb/operation_details/unknown.rb
  spec/cfonb/parser_spec.rb
  spec/files/example.txt
Due: do_not_commit, rubocop, ruby, prettier-mdx, whitespaces
